* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;

  margin: 20px;
}


.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.sidebox {
  border: 3px solid white;
  text-align: center;
  flex: 1 2 0px;
  order: 1;
}

.sidebox li {
  list-style-type: square;
  padding: 10px;
}

.car-box1 {
  flex: 1 2 50px;
  order: 4;
}

.car-box1 img,
.car-box2 img {
  width:100%;
  height: 200px;
}

.car-box {
  flex: 2 2 50px;
  order: 3;
}

.car-box img {
  width: 100%;
  height: 400px;
}

.car-box h1 {
  padding: 15px;
}

.car-box2 {
  flex: 1 2 50px;
  order: 2;
}

.box2 {
  color: black;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.box2 img {
  animation-name: imgmov;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes imgmov {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

